

.weather-text {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pokemon-text {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: #000000;
    text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, 2px 2px 0px #000000, -2px -2px 0px #000000;
}


header .weather-text {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.function-display .weather-text {
    font-size: 2em;
    span {
        text-decoration: underline;
    }
}

header .pokemon-text {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 0.65em;
}

