

.weather-text {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pokemon-text {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: #000000;
    text-shadow: 1px 1px 0px #fbd743, -1px -1px 0px #fbd743, 2px 2px 0px #000000, -2px -2px 0px #000000;
}


header .weather-text {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.function-display .weather-text {
    font-size: 2em;
    span {
        text-decoration: underline;
    }
}

header .pokemon-text {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 0.65em;
}

body {
    background-color: #fbd743;
}

header {
    background-color: #363b81;
    color: #fbd743;
}

.area-search {
    background-color: #363b81;
    color: #fbd743;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #000000;
}

.main-content{
    background-color: #363b81;
    color: #fbd743;
}

.pokemonImage{
    width:8vw;
}
